header {

    background: #BBBBBB;
    padding: 1.2rem 0;
}

.caixa {

    position: relative;
    width: 900px;
    margin: 0 auto;
}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 15px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 20px;
}

/* quando estiver/passando com o mouse em cima das bordas/elemento, ele altera sua cor */

.produtos li:hover {
    border-color:  #C78C79;
}

/* quando estiver clicando com o mouse em cima dos produtos li/elementos, ela altera sua cor */

.produtos li:active{           
    border-color: #088C19;
}

/* quando no produtos “li”, o mouse estiver por cima, ou seja, hover no “li” dos produtos, eu quero alterar o h2, que está dentro dessa estrutura */

.produtos li:hover h2{
    font-size: 34px;

}


.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {

    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    /* conteúdo do meu texto em maiúsculo */
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {

    color: #C78C79;
    text-decoration: underline;
}



main {

    width: 940px;
    margin: 0 auto;
}

form {

    margin: 40px 0;
}

form label, form legend {

      display: block;
      font-size: 20px;
      margin: 0 0 10px;  
}

.input-padrao{

    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {

    margin: 20px 0 ;
}


.enviar {

    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: .8s all;
    cursor: pointer;

}

.enviar:hover{

    background: rgb(1, 133, 1); 
    transform: scale(1.2)  /* rotate(360deg); */
   /* transform: translate(40px) scale(1.2); */
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

footer {

    /* Como adicionamos uma imagem de fundo em um elemento? Com o valor url no background */

    text-align: center;
    background: url("bg.jpg");
    padding: 20px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 15px;

}
